
*{
    margin:0;
    padding:0;
    color:#0D1321;
}



.inter-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Shared Styles*/
.title{
    font-size: 28px;
    font-weight: bolder;
}
.btn-primary{
padding:10px 20px;
font-size:18px;
font-weight: bold;
border-radius: 5px;
}
.desc-texts{
font-size: 11px;
}

/*Header Styles*/

header{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:20px auto;
}


/*Banner Styles*/
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
}
h1{
    font-size: 48;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner-texts{
    margin-bottom: 32px;
}
.btn-secondary{
    background-color:#0D1321;
    padding:10px 20px;
    font-size:16px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 40px;
    border:none;
    }

    a{
        text-decoration: none;
        color:white;
    }