
*{
    margin:0;
    padding:0;
    color:#0D1321;
}



.inter-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Shared Styles*/
.title{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}
.btn-primary{
padding:10px 20px;
font-size:18px;
font-weight: bold;
border-radius: 5px;
}
.desc-texts{
font-size: 11px;
padding:20px 40px;
}

/*Header Styles*/

header{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:20px auto;
}


/*Banner Styles*/
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
}
h1{
    font-size: 48;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner-texts{
    margin-bottom: 32px;
}
.btn-secondary{
    background-color:#0D1321;
    padding:10px 20px;
    font-size:16px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 40px;
    border:none;
    }

    a{
        text-decoration: none;
        color:white;
    }
    /**why-web-development**/

    .why-web-development{
        width:80%;
        margin:40px auto;
        padding:20px;
        text-align: center;
        background-color: #fafafb;
    }
    .why-web-development>p {
        padding:20px 10%;
    }
    .sub-section-contaner{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        margin:40px
    }
    .sub-section{
        display:flex;
        justify-content: space-between;
        width:80%;
        margin:auto;
    }
    .text-sub-section{
        background-color: white;
        width:60%;
        text-align: left;
       align-items: center;
        padding:50px 0;
        margin-bottom: 40px;
        }
    .img-sub-section{
        width:30%;
    }

    /**My Ispiration Section**/
.my-inspiration{
    text-align: center;
    width:80%;
    margin:0 auto;
}

.my-inspiration video{
    text-align: center;
    width:90%;
    margin:40px 5%;
    border:2px solid #0D1321;
    padding:15px;
    border-radius: 10px;
}

/**Target Section**/

.current-target{
    width:80%;
    margin:40px auto;
}

.skill-container{
    display:flex;
    justify-content: space-between;
    margin-top:40px;
}

.skill{
    padding:23px;
    width:25%;
    border: none;
    border-radius: 12px;
    align-items:center;
   
}
.sub-title{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.skill>a {
    color:#0D1321;
    font-weight:bold;
}

.skill>h3,skill>p{
text-align: left;

}
.skill>p{
    text-align: left;
    padding-left: 0;
}
.skill-html{
    background:rgb(236, 217, 210)
}

.skill-css{
    background:lightblue;
}

.skill-js{
    background:lightyellow;
}
/** Support Section**/
.support-section{
    background-image: url(/assets/handshake.jpg);
    background-repeat:no-repeat;
    width:80%;
    margin:40px auto;
    padding:80px 10px;
    background-size:cover
}

.support-section>h3{
    color: white;
}

.support-section>p {
    color: white;
    padding:40px;
    text-align:center;
}
.form-section{
text-align: center;
   
}

#field{
    height: 50px;
    width:50%;
}

#submit{
    height: 52px;
    width:12%;
}

/**Footer Section**/
footer{
    background-color: #fafafb;
    text-align: center;
    margin:50px auto 0;
   

}

.footer-items{
    width:64%;
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-right:18%;
    padding-left:18%
}




